<div style="margin: 10px;box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);background-color: #fff;">
    <div style="background-color: #44a4f8;height: 60px;text-align: center;line-height: 60px;color: #fff;font-size: 16px;">
        <b>${title}</b>
    </div>
    <div style="margin: 15px;font-size: 14px;">
        ${body}
    </div>
    <div style="margin-right: 15px;margin-bottom: 10px;" align="right">
    ${organization}<br><span style="border-bottom:1px dashed #ccc;" t="5" times="">${date}</span>
    </div>
</div>