<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>验证</title>
    <script type="text/javascript" src="/?class=public&mode=lib/js/tn_code.min.js&type=text/js"></script>
    <link rel="stylesheet" type="text/css" href="/?class=public&mode=lib/css/tn_style.css&type=text/css" />
</head>
<body style="text-align:center;">
    <div class="tncode" style="text-align: center;margin: 100px auto;"></div>
</body>
</html>
